<h1>Olá, <%= @recipient.name %>!</h1>
<p>Você recebeu um novo email de <%= @sender.name %>:</p>
<p><%= @message.content %></p>
<p>Acesse o app para responder: <a href="http://localhost:3000">MessageApp</a></p>