default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password: Haophasop123
  host: localhost
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: message_app_development
  port: 5432

test:
  <<: *default
  database: message_app_test
  port: 5432

production:
  primary: &primary_production
    <<: *default
    database: message_app_production
    username: message_app
    password: Teste123
  cache:
    <<: *primary_production
    database: message_app_production_cache
    migrations_paths: db/cache_migrate
  queue:
    <<: *primary_production
    database: message_app_production_queue
    migrations_paths: db/queue_migrate
  cable:
    <<: *primary_production
    database: message_app_production_cable
    migrations_paths: db/cable_migrate